.active {
	background: #eee;
	color: #3d3d3f;
}

.nav {
	width: 100%;
	background: #3d3d3f;
	line-height: 50px;
	display: flex;
	padding: 0 40px;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
}

.nav > a {
	font-size: 1.5em;
}

.nav ul {
	margin-left: auto;
	font-size: 1.5em;
}

